#drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 480px;
  height: 500px;
  font-family: sans-serif;
  margin: 100px auto;
  padding: 20px;
}

#drop-area.highlight {
  border-color: purple;
}

#fileElem {
}

